---
import Layout from '../layouts/Layout.astro';
import Inicio from '../components/Inicio.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Proyecto Astro" description="Este es un proyecto creado en mi pc de sobremesa con Astro y tailwind por primera vez." >
	<main>
		<Inicio></Inicio>
	</main>
	<Footer></Footer>
</Layout>

<style>
	
</style>
